.app {
    display: flex;
    justify-content: flex-start;

}

.search-page {
    flex: 1;
    padding: 20px;
}

.H1{
    font-size: 30px;
        font-weight: 600;
        background-image: linear-gradient(to left, #40739e, #353b48);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        text-align: center;
}

.search-bar {
    width: 300px;
    margin-left: 300px;
}

.searchBox {
    left: 0;
    transform: translateY(0);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    margin: 20px;
    width: 1000px;
    margin-left: 200px;
}

.searchBox:hover>.searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover>.searchButton {
    background: white;
    color: #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

@media screen and (max-width: 620px) {
    .searchBox:hover>.searchInput {
        width: 150px;
        padding: 0 6px;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght,SOFT,WONK@9..144,100..900,0..100,0..1&family=Fraunces:ital,opsz,wght,SOFT,WONK@1,9..144,100..900,0..100,0..1&display=swap");



html {
    font-family: Fraunces, serif;
    font-size: 115%;
    line-height: 1.35;
    font-weight: 340;
    color: var(--text);
    background: var(--background);
    padding-bottom: 20vh;


    --tt-key: html;
    --tt-max: 900;
    --tt-ease: cubic-bezier(0, 0.78, 0.53, 1);

  
    --max-width: 1200px;
    --columns: 6;
    --gutter: 1.5rem;

    --primary: #f4663a;
    --background: #efeded;
    --background-alt: #ffffff;
    --text: #31355b;
}

@keyframes html {
    0% {
        font-size: 0%;
    }

    100% {
        font-size: 125%;
    }
}

* {
    --grid: minmax(var(--gutter), 1fr) repeat(var(--columns),
            minmax(0,
                calc((var(--max-width) - (var(--gutter) * (var(--columns) - 1))) / var(--columns)))) minmax(var(--gutter), 1fr);
}


body {
    margin: 0;
}

img {
    width: 100%;
}


.masthead {
    color: var(--primary);
    mix-blend-mode: multiply;
    text-align: center;
    font-variation-settings: "WONK" 1, "SOFT" 30;
    --tt-key: masthead;
    --tt-max: 1200;
    --tt-ease: ease-in-out;
    margin: 0.5em 0 -0.5em;
    margin-left: 300px;
}

@keyframes masthead {
    0% {
        font-size: 1rem;
        margin-bottom: -0.45em;
        font-weight: 600;
    }

    100% {
        font-size: 6.5rem;
        margin-bottom: -0.375em;
        font-weight: 500;
    }
}

.primary-headline {
    --tt-key: primary-headline;
    --tt-ease: cubic-bezier(1, 0, 1, 1);
    --tt-max: 585;
    line-height: 1;
    font-variation-settings: "SOFT" 0, "WONK" 1;
    margin: 0.5rem 0;
}

@keyframes primary-headline {
    0% {
        font-size: 1rem;
        font-weight: 500;
    }

    100% {
        font-size: 4rem;
        font-weight: 300;
    }
}

.meta {
    font-style: italic;
    margin: 0.25rem 0;
    font-size: 0.75rem;
}

.entry-summary {
    margin: 0.25rem 0;
}

.main {
    column-gap: var(--gutter);
    grid-template-columns: var(--grid);
    padding: var(--gutter);
}

.entry {
    margin-bottom: var(--gutter);
}

.entry,
.entry-content {
    display: flex;
    flex-direction: column;
}

.entry-img {
    aspect-ratio: 5 / 3;
    object-fit: cover;
}

.entry-date {
    order: -1;
}


.entry-lede time {
    margin-bottom: 1rem;
}

.entry-lede time::after {
    content: "";
    display: block;
    width: calc(100% + (var(--gutter) * 2));
    height: 1px;
    margin-left: calc(var(--gutter) * -2);
    background: var(--primary);
    mix-blend-mode: multiply;
    margin-top: 0.67rem;
}


@media (min-width: 30em) {
    html {
        --columns: 12;
    }

    .main,
    .entry-lede {
        padding: 0;
        display: grid;
    }

    .entry,
    .trending {
        grid-column-start: 3;
        grid-column-end: span 10;
    }

    .entry-lede {
        column-gap: var(--gutter);
        grid-template-columns: var(--grid);
        grid-column-start: 1;
        grid-column-end: span 14;
        margin-bottom: 4rem;
    }

    .entry-lede>.entry-img {
        aspect-ratio: auto;
        grid-column-start: 1;
        grid-column-end: span 10;
    }

    .entry-lede .entry-content {
        grid-column-start: 3;
        grid-column-end: span 11;
        margin: -2.5rem calc(var(--gutter) * -1) 0;
        background: var(--background-alt);
        padding: 0.5rem var(--gutter) 1rem;
    }
}

@media (min-width: 50em) {
    html {
        --columns: 24;
    }

    .main::before,
    .main::after {
        content: "";
        display: block;
        grid-column-start: 8;
        grid-column-end: 26;
        grid-row-start: 2;
        grid-row-end: 3;
        background: var(--background-alt);
        margin: 0 calc(var(--gutter) * -1);
        z-index: -1;
    }

    .main::after {
        grid-column-start: 2;
        background-color: var(--primary);
        height: 1px;
        mix-blend-mode: multiply;
    }

    .entry {
        grid-column-end: span 9;
        margin-bottom: var(--gutter);
    }

    .entry:nth-child(n + 2) {
        margin-top: -2rem;
        grid-row-start: 2;
    }

    .entry:nth-child(2) {
        grid-column-start: 8;
    }

    .entry:nth-child(3) {
        grid-column-start: 17;
    }

    .entry-lede {
        column-gap: var(--gutter);
        grid-template-columns: var(--grid);
        grid-column-start: 1;
        grid-column-end: span 26;
        margin-bottom: 4rem;
    }

    .entry-lede>.entry-img {
        aspect-ratio: auto;
        grid-column-start: 1;
        grid-column-end: span 13;
    }

    .entry-lede .entry-content {
        grid-column-start: 14;
        grid-column-end: span 12;
        margin: 0.5rem 0;
        padding: 4rem 0 0;
        background: none;
    }

    .trending {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: span 6;
        margin-top: var(--gutter);
        transform: translatex(calc(var(--gutter) * -1));
    }
}

button {
    width: 140px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #353b48;
    background: none;
    position: relative;
    padding-bottom: 2em;
    cursor: pointer;
    margin-left: 1000px;
    right: 0;
}

button>div,
button>svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

button:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
}

button:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

button .clone>*,
button .text>* {
    opacity: 1;
    font-size: 1.3rem;
    transition: 0.2s;
    margin-left: 4px;
}

button .clone>* {
    transform: translateY(60px);
}

button:hover .clone>* {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button:hover .text>* {
    opacity: 1;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button:hover .clone> :nth-child(1) {
    transition-delay: 0.15s;
}

button:hover .clone> :nth-child(2) {
    transition-delay: 0.2s;
}

button:hover .clone> :nth-child(3) {
    transition-delay: 0.25s;
}

button:hover .clone> :nth-child(4) {
    transition-delay: 0.3s;
}

/* icon style and hover */
button svg {
    width: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
}

button:hover svg {
    transform: translateY(-50%) rotate(-90deg);
}