.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
  }
  
  .sidebar.minimized {
    width: 40px;
  }
  
  .content,
  .content-minimized {
    transition: opacity 0.3s ease;
  }
  
  .toggle-btn {
    cursor: pointer;
    text-align: center;
    padding: 5px;
    background-color: #ccc;
    border-top: 1px solid #999;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .toggle-btn:hover {
    background-color: #bbb;
  }
  
  .content ul,
  .content-minimized ul {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
  }
  